<p id="notice"><%= notice %></p>
<h1>Datos de la asistencia</h1>
<p>
  <strong>Nombre:</strong>
  <%= @asistencium.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @asistencium.apellido %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @asistencium.correo %>
</p>

<p>
  <strong>Teléfono:</strong>
  <%= @asistencium.telefono %>
</p>

<p>
  <strong>Institución:</strong>
  <%= @asistencium.institucion %>
</p>


<%= link_to 'Editar datos', edit_asistencium_path(@asistencium) %> |
<%= link_to 'Volver', asistencia_path %>
