<p id="notice"><%= notice %></p>

<p>
  <strong>Correo:</strong>
  <%= @asistencium.correo %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @asistencium.nombre %>
</p>

<%= link_to 'Edit', edit_asistencium_path(@asistencium) %> |
<%= link_to 'Back', asistencia_path %>
