<p id="notice"><%= notice %></p>

<p>
  <strong>Mail:</strong>
  <%= @login.mail %>
</p>

<p>
  <strong>Contrasena:</strong>
  <%= @login.contrasena %>
</p>

<%= link_to 'Edit', edit_login_path(@login) %> |
<%= link_to 'Back', logins_path %>
