<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ChileWIc</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">


    <!-- Latest compiled and minified CSS -->

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>



    <!-- Favicons -->
    <%= favicon_link_tag asset_path ('img/favicon.png') %>
    <%= favicon_link_tag asset_path ('img/apple-touch-icon.png') %>




  </head>
  <body>

  </body>



</html>
