
<!DOCTYPE html>
<html>
  <head>
    <title>ChileWic</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link   rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
  crossorigin="anonymous"/>



    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    







  </head>

  <body>


    <%= yield %>
  </body>
  <script src="https://unpkg.com/react/umd/react.production.js" crossorigin />

  <script
    src="https://unpkg.com/react-dom/umd/react-dom.production.js"
    crossorigin
  />

  <script
    src="https://unpkg.com/react-bootstrap@next/dist/react-bootstrap.min.js"
    crossorigin
  />
</html>
